.popup__form {
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 40px;
    margin-bottom: 36px;
}

.form__button_inactive {
    background: #ccc;
    cursor: initial;
}

.form__button_inactive:hover {
	background: #ccc;
}