.card__like {
    background-image: url(../../../images/like_button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    outline: none;
    background-color: white;
    border: 0;
    height: 19px;
    margin-right: 18px;
    padding: 0;
    cursor: pointer;
    transition: all .1s ease;
    position: relative;
}

.card__like:hover {
    opacity: .6;
}

.card__like_liked {
    opacity: .6;
}

.card__like_liked:after {
    position: absolute;
    display: inline-block;
    content: '1';
    right: -12px;
    top: 0;
}